//- doctype html
//- html
//-   head
//-     title= title
//-   body
//-     h1= title
//-     form(action='/update-cobj', method='post')
//-       label(for='name') Name:
//-       input(type='text', name='Name', required=true)
//-       label(for='fav_color') fav color:
//-       input(type='text', name='fav_color')
//-       label(for='fav_car') fav car:
//-       input(type='text', name='fav_car')
//-       button(type='submit') Submit
//-     a(href='/') Return to the homepage



//- doctype html
//- html
//-   head
//-     title= title
//-   body
//-     h1= title
//-     form(action='/update-cobj', method='post')
//-       label(for='firstname') First Name:
//-       input(type='text', name='firstname', required=true)
//-       label(for='lastname') last name:
//-       input(type='text', name='lastname')
//-       label(for='email') email:
//-       input(type='text', name='email')
//-       button(type='submit') Submit
//-     a(href='/') Return to the homepage

doctype html
html
  head
    title= title
  body
    h1= title
    form(action='/update-cobj', method='post')
      label(for='nfs') NFS:
      input(type='text', name='nfs', required=true)
      label(for='nfs2') NFS2:
      input(type='text', name='nfs2')
      label(for='nfs3') NFS3:
      input(type='text', name='nfs3')
      button(type='submit') Submit
    a(href='/') Return to the homepage

